:root {
  --red: #ff6f69;
  --beige: #ffeead;
  --yellow: rgb(216, 216, 169);
}

html,
body {
  background: var(--beige);
  color: var(--red);
}

h1,
p {
  color: var(--red);
}

#navbar {
  --nav-red: #680300;
}

#navbar a {
  color: var(--nav-red);
}

.item {
  --red: #d3504c;
  background: var(--yellow);
}

button {
  background: var(--red);
  color: var(--beige);
}
